*,*::before, *::after{
    box-sizing: inherit;
    margin:0;
    padding:0;
    
}
@font-face {
    font-family:"Felix" ;
    src: url("../Fonts/Felix\ Titling\ Regular.ttf");
}
@font-face {
    font-family:"Bebas" ;
    src: url("../Fonts/bebas/Bebas-Regular.ttf");
}
@font-face {
    font-family:"Chris" ;
    src: url("../Fonts/christmas_bell/Christmas\ Bell\ -\ Personal\ Use.otf");
}
.navigation {
    display: inline;
    align-items: center;
    align-self: baseline;
    flex: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #00000000;
    transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out;
    color: #ffffff; 
  }
 
.navigation.scrolled {
    background-color: #ffffff; 
    color: black;
}
  
h1.name{
    font-size: 5em;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
}

.inlinenav{ 
    text-align: center;
    font-family:"Bebas" ;
    top: 0;
    display:inline-flex;
    z-index: 4;
    position: relative;
    width:100%;
    margin-left: 3em;
    padding-left: 3em;
    
}
h2{
    font-size: 2em;
    margin-top: 3%;
    margin-left: 3em;
}
h2 a, i a{
    text-decoration: none;
    color: #ededed;
}
.myVideo {
    display: block;
    position: relative;
    color: #fff;
    overflow: hidden;
    top:0;
    z-index: -1;
    width: 100%;
  }
.videotext{
    position: absolute;
    left:34%;
    top:20%;
    text-align: center;
    font-family: 'Felix';
    font-size: 1.25em;
    font-weight: bold;
    color: #fff;
    line-height: 1.5em;
    letter-spacing: 0.15em;
}
#browse{
    background-color:rgba(35, 35, 35, 0.623);
    color: #fff;
    font-family: 'Bebas';
    border-radius: 0.75em;
    font-size: 1.5em;
    margin-top: 0.15em;
    padding: 0.25em;
    border-color: #23232300;
    width:5em;
    backdrop-filter: blur(0.15em);
}
#browse:hover{
    border-color: #ffffff;
    background-color:rgba(35, 35, 35, 0.185);
    transition: 0.25s ease-in-out;
}
.submenu,.submenu1{
    visibility: hidden;
    list-style-type: none;
    font-size: 0.75em;
    background-color: #fff;
    width: 100%;
    color: #232323;
    display: flex;
    flex-direction: row;
    position:fixed;
    left:0;
    margin-top: 1em;
    padding: 0.75em;
    padding: 0.5em;
    z-index: 5;
}
.htwoo:hover .submenu{
    visibility:visible;
}
.submenu img{
    margin: 1.5em;
}
.submenu li:first-child{
    font-family: 'Chris';
    font-family: 4em;
    align-items: center;
    text-align: center;
    padding:3%;
    font-size: 2.8em;
    margin-top:2em;
}
.submenu li:nth-child(2){
    font-family: 2em;
    align-items: center;
    width: 20%;
    margin-top:4.5em;
}
.htwoo:hover .navigation{
    background-color: #fff;
}
.htwo:hover .submenu1{
    visibility:visible;
}
.submenu1 li:nth-child(2){   
    margin:3%;
    margin-top:1.5% ;
    padding:1.5em;
    line-height: 1.25em; 
}
.submenu1 li:nth-child(3){
    background-color: rgb(251, 246, 252);
    border-radius: 1.25em;
    padding:1.5em;
}
.submenu1 li:nth-child(3) form input{
    display:block; 
    margin:1em;
    border-radius: 0.15em;
    font-size: 0.8em; 
    padding: 0.1em;
    border: none;
}
textarea{
    border: none;
}

 #menuToggle
 {
   display: inline-block;
   position: fixed;
   top: 2.5em;
   left: 50px;
   
   z-index: 5;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   font-family: 'Bebas';
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; 
   z-index: 2;
   
   -webkit-touch-callout: none;
 }
 
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #929292;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #070707;
 }
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 #menu
 {
   position: absolute;
   width: 15em;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
 i{
    font-size:2.5em;
    z-index: 5;
    align-items: center;
    margin-left: 1.5em;
    padding: 1em;
}
.name1{
    font-size: 5em;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    text-shadow: 0 1px 2px #9d64c4,
      1px 3px 1px #9759c0, 
      2px 5px 1px #8b46b9, 
      4px 7px 1px #7d3fa6, 
      6px 9px 1px #6f3894,
      8px 11px 1px #613181,
      10px 13px 1px #532a6f,
      12px 15px 1px #45235c,
      14px 17px 1px #381c4a;
}
 .navigation {
    display: inline;
    align-items: center;
    align-self: baseline;
    flex: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #00000000;
    transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out,text-shadow 0.2s ease-in-out;
    color: #ffffff; 
  }
.navigation:hover{
    background-color: #fff;
    color:black;
    text-shadow: none;
} 
.navigation:hover .name1{
    background-color: #fff;
    color:black;
    text-shadow: none;
} 
.navigation.scrolled {
    background-color: #ffffff; 
    color: black;
    text-shadow: none;
}
.navigation.scrolled .name1 {
    background-color: #ffffff; 
    color: black;
    text-shadow: none;
}

main{
    display:block;
    position: relative;
    
    z-index: -1;
}
section.carousel{
    background:#232323;
}

/* IMAGE */
.image-container {
    overflow-x: hidden;
    max-width: 50%;
    margin: 1.5em;
}
.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: .3s;
}
.image-wrapper > * {
    aspect-ratio: 1/2;
}
img.slider {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}
/* IMAGE */
.carousel{
    display:flex;
    flex-direction: row;
}
.p1{
    padding:1.25em;
    align-items: center;
    font-family: 'Bebas';
    font-size: 3.8em;
    color: #fff;
}
.p1 span{
    font-family: 'Chris';
    display: block;
    padding: 0.15em;
    margin-bottom: -0.15em;
    font-size: 2em;
}
/*grid*/
.grid {
    display: grid;
    list-style-type: none;
    column-gap: 1em;
    row-gap: 1em;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }
.item1 img{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow: hidden;
    margin:1em;
    border-radius: 0.5em;
}
.item2{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    overflow: hidden;
    
}
.item2 img{
    margin:1em;
    border-radius: 0.5em;
}
.item3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
    padding: 1em; 
}
.item3 video{
    height:90%;
    width:90%;
    overflow: hidden;
    padding: 1em; 
    align-content: center;
    border-radius: 0.5em;
}
.item4{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.item4 img{
    margin:1em;
    border-radius: 0.5em;
    
}
.item5{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.item5 img{
    margin:1em;
    border-radius: 0.5em;
    
}
.grid li p{
    text-align: center;
    font-family: 'Felix';
    font-size: 1.25em;
    font-weight: bold;
}
/*FOOTER*/
footer{
    background-color:black;
    color:white;
    padding: 0.1em;
    margin-top: 1em;
}

footer section{
    display:flex;
    margin:1em;
    margin-bottom: 1.25em;
    bottom: 0;
}
.footone p:nth-child(2){
    font-family:'Bebas';
    font-size:2em;
    
}
.footone form{
    margin:1em;
}
.footone form input{
    margin:1em;
    border-radius: 0.15em;
    font-size: 1em;
    padding:0.25em;
}

form button{
    margin:1em;
    border-radius: 0.25em;
    font-size: 1em;
    padding:0.25em;
    background-color: white;
    font-family: 'Bebas';
}
.foot{
    font-family:'Bebas';
    font-size:5em;
    font-weight: bold;
    margin:1em;
}
.foottwo{
    padding: 2em;
    margin:2.5em;
    margin-top:5em;
    margin-left:13em;
}
.foottwo nav{
    font-size: 1.2em;
    font-family: 'Bebas';
}
.foottwo nav ul li{
    list-style-type: none;
    line-height: 1.5em;
}
.foottwo nav ul li a{
text-decoration: none;
color:white;
letter-spacing: 0.12em;
}
.foottwo nav ul li a:hover{
    text-decoration: underline;
}
.row a i{
    color:white
}
.footthree{
    text-align: right;
    margin-top:12%;
    margin-bottom:0;
    margin-left: 2%;
    font-family: 'Bebas';
    font-size: 1.25em;
    padding: 2em;
}
.footthree nav.row a i{
    margin-left:3%;
    padding: 0.25em;
    text-align: center;
}
.policies a{
    text-decoration: none;
    color:white;
    padding:0.15em;
    margin:0.5em;
}
.policies a:hover{
    text-decoration: underline;
    color:white;
}
/*css for the products mw page*/

  
.section-title {
    font-weight: bold;
    font-size: 5em;
    font-family: 'Bebas';
    margin: 1em;
    margin-bottom:0.5em;
  }
  .products{
    background-color: rgb(242, 242, 242);
  }
  
 #navbar1{
    color:black;
    background-color: white;
 }
  .gridm {
      display: grid;
      list-style-type: none;
      column-gap: 1em;
      row-gap: 1em;
      align-items: center;
      margin: 0%;
      padding: 0%;
      overflow:hidden;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

  .item6 img{
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 1;
      overflow: hidden;
      margin:1em;
      border-radius: 0.5em;
  }

  .item7{
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 1;
      overflow: hidden;
      
  }
  .item7 img{
      margin:1em;
      border-radius: 0.5em;
  }

  .item8{
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      align-items: center;
      padding: 1em; 
  }
  
  .item9{
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 2;
  }
  .item9 img{
      margin:1em;
      border-radius: 0.5em;
      
  }
  .item10{
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;
  }
  .item10 img{
      margin:1em;
      border-radius: 0.5em;
      
  }
  .gridm li p{
      font-size: 1.25em;
      font-weight: bold;
      margin-left: 1em;
  }

  .grid-item {
    position: relative;
    display: inline-block;
   }
   
   .grid-item img {
    width: 100%;
    height: auto;
   }
   
.card {
    width: 7em;
    height: 12em;
    position: relative;
    display: inline-block;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}
.price{
    font-family:'Cambria';
    margin-top: 0.7em;
    font-size: 1.5em;
    
}
.twoimages{
    margin:2%;
    display: flex;
    flex-direction: row;
}
.twoimages article p{
    font-size: 3em;
    font-family: 'Bebas';
    padding: 3.5em;
    margin:1.5em;
    letter-spacing: 0.1em;
}
.set1{
    display: flex;
    flex:1;
    width: 100%;
    
    
}
.set1 li{
    list-style-type: none;
    margin: 0.9em;
    
}
.set1 li a{
    text-decoration: none;
    cursor: pointer;

}
.set1 li p{
    font-family: 'Felix';
    font-size: 1.5em;
    text-align: center;
    color: #000000;
}
.set2{
    display: grid;
      list-style-type: none;
      column-gap: 1em;
      row-gap: 1em;
      align-items: center;
      margin: 3%;
      padding: 0%;
      overflow:hidden;

}
.set2 .une .card:first-child img{
    width: 33em;
    height: 44em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;   
}
.deux{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
.deux p,.quatre p,.cinq p, .six p,.huit p,.neuf p,.dix p,.set3 li p{
    font-family: 'Bebas';
    font-size: 1.7em;    
}
.deux p:nth-child(2),.quatre p:nth-child(2),.cinq p:nth-child(2),.six p:nth-child(2),.huit p:nth-child(2),.neuf p:nth-child(2),.dix p:nth-child(2),.set3 li p:nth-child(2){
    font-size: 1.4em;
    margin-top: 1.25em;
    color: rgb(97, 14, 14);
    
}
.deux p:nth-child(3),.quatre p:nth-child(3){
    font-size: 1.2em;
    margin-top: 1em;
    color: rgb(0, 0, 0);
    
}
.deux p:nth-child(4),.quatre p:nth-child(4){
    font-size: 1em;
    color: rgb(0, 0, 0);
    
}
.trois{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.trois img{
    width: 24em;
    height: 32em;
    margin-left: 10em;
    margin-top: -10em;
}
.quatre{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.cinq{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    
}
.six{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
.sept{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
}
.huit{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 9;
}
.neuf{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
}
.dix{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 11;
}
.parfum h2{
    font-family: 'Bebas';
    font-size: 4em;
    margin-left: 1em;
}
.set3{
    display: flex;
    overflow: hidden;
}
.set3 li{
    list-style-type: none;
}
.set3 li p{
    text-align: center;
}
.parfum video{
    margin-top: 4%;
    height:80%;
    width:100%;
}
.ac{
    background-color: #ebebeb;
}
/*about*/
.color-white {
    color: azure;
    

}

.box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    width: 90%;
    margin: 3.125em; 
}
@media screen and (min-width: 130px) { 
    .box-container {
        flex-direction: row;
    }
}

.box-item {
    position: relative;
    width: 25.9375em; 
    margin-bottom: 2.1875em; 
    max-width: 90%;
    margin-right: 3.125em; 
}

  
  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
   }
   
   .face {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 475px;
    -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-transition-style: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
   }
   
   .flip-box-front {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform: preserve-3d;
    transform-style: preserve-3d;
   }
   
   .flip-box:hover .flip-box-front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
   }
   
   .flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
   }
   
   .flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
   }
   
  .flip-box .inner{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
  }
  
  .flip-box-header {
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: 'Bebas';
    font-size: 2.5em;
    text-align: center;
    display: flex;  
    justify-content: center;  
    color: beige;
    background-color: #0000006b;
    background-size: cover;
  }
  
  
  .flip-box p{
    font-size: 3em;
    line-height: 1.5em;
   text-align: center;
   color: white;
   font-family: 'Chris';
  }
  
  .flip-box-img {
    margin-top: 1.5625em; 
    margin-right: 1.875em; 
}

.flip-box-button {
    background-color: transparent;
    border: 0.125em solid #fff; 
    border-radius: 0.125em; 
    color: #fff;
    cursor: pointer;
    font-size: 1.25em; 
    font-weight: bold;
    margin-top: 1.5625em; 
    margin: 30%;
    padding: 5%;
    text-transform: uppercase;


}

  video.about {
    height: 10%;  
    width: 100%;
  }
 
@media screen and (max-width: 1024px){
    *{
        margin:0;
        padding:0;
        display: block !important;
    }
    header{
        display:block;
        position:relative; overflow: hidden;
    }
    header section video{
        position: absolute;
        visibility:hidden;
    }
    .videotext{
        position: absolute;
        visibility: hidden;
    }
    .grid li{
        display:block;
    }
    .navigation{
        display: block;
        position:relative;
        transition:none;
        background: #ffffff;
        color: #000000;
        top:0;
        overflow: visible;
       
    }
    .inlinenav{
        display: block;
        margin:0;
        padding: 0;
        margin-top:3em;
    }
    .navigation.scrolled {
        background-color: #ffffff; 
        color: black;
    }
    .htwo,.htwoo,.name{
        margin:0;
        padding: 0;
        text-align: center;
    }
    h1.name{
        display: block;
        margin:0;
        text-align:center;
    }
    #menuToggle{
        position:fixed;
        display: block;
    }
    i{
        margin:0.15em;
        padding:0;
        text-align: center;
    }
    .submenu,.submenu1{
        display: inline;
        overflow: scroll;
        width: 80%;
        height: 80%;
        text-align:center ;
    }
    .submenu li:first-child{
        margin: 0%;
    }
    .submenu li:nth-child(2){
        margin: 0;
        width: 100%;
    }
    .submenu1 li:nth-child(2){
        padding:2%;
    }
    .submenu1 li:last-child{
        padding:2%;
        height: 100%;
    }
    .image-container {
        overflow-x: hidden;
        max-width: 100%;
        margin: 1.5em;
        
    }
    .image-wrapper {
        display: grid !important;
        grid-auto-flow: column !important;
        grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
        grid-gap: 1.5rem;
        position: relative;
        left: 0;
        transition: .3s;
        margin-top: 1.5em;
    }
    .p1{
        align-items: center;
        font-family: 'Bebas';
        font-size: 3.8em;
        color: #fff;
        padding: 0.15em;
    }
    .p1 span{
        font-family: 'Chris';
        display: block;
        font-size: 2em;
    }
    .item1 img,.item2 img,.item4 img,.item5 img ,.item6 img,.item7 img,.item9 img,.item10 img{
        height:90%;
        width:90%;
    }
    p.foot{
        margin:0;
    }
    .foottwo{
        margin:0;
    }
    .footthree{
        margin:0;
    }
    #navbar1{
        padding: 1em;
        background-color: rgba(255, 255, 255, 0.767);

    }
    .gridm {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
     
  .card .img-top {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  }
  .card {
    width:95%;
    height: 950%;
    position: relative;
    margin: 1em;;
  }
  .price{
      font-family:'Cambria';
      margin-top: 0.7em;
      font-size: 1.5em;
      
  }
  .item8 video,  .twoimages video{
      height:90%;
      width:90%;
  }
  .twoimages article p{
    padding:0;
    margin: 0.15em;
    display: block;
    text-align: center;
 }
 .accessories,.accgrid,.parfum{
    display: block;
    margin: 0%;
    padding: 0%;
    text-align: center;
 }
 .name1{
    margin: 0%;
    padding: 0%;
 }
 .set1 li video{
    width: 100%;
    margin: 0%;
    padding: 0%;
 }
 .set2{
    display: block;
 }
 .set2 .une .card:first-child img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }
 .trois{
    margin: 0;
    display: block;
 }
 .set2 .trois .card:first-child img{
    margin: 0;
 }
 .neuf img,.dix img,.set3 li img,.sept video{
    height: 100%;
    width: 100%;
 }
 .row{
    display: flex !important;
    margin: 0%;
    padding: 0%;
    text-align: left;
    font-size: 0.75em;
    width: 100%;
 }
 .footthree{
    padding-left: 0;
    padding-right: 0;
 }
 .container .photogallery  {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
   }

   img {
    width: 100%;
   }
    .container .photogallery .column
    {
        width: 100%;
    }
    .box-container{
        margin:0;
        margin-left:10%;
        margin-top:1em;

    }
}
.accordion {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas';
  }

  /* Style the accordion item headers */
  .accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
  }

  /* Style the accordion item content */
  .accordion-item-content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  .accordion-item.active .accordion-item-content {
    display: block;
  }
  .accordion-item-header{
    font-size: 4em;
    padding: .5em;
  }
  .accordion-item-content{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    margin: 3%;
    padding: 2.5%;
    line-height: 1.6em;
    
  }
  .photogallery
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container .photogallery .column
{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.holidays img, .holidays video{
    width: 80%;
    margin: 1.5em;
}
video.holiday{
    width: 100%;
    margin: 0;
    padding: 0;
}

.para {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: left;
}

.para p {
    margin-bottom: 15px;
    font-family: 'Arial', sans-serif;
}

.para h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #2c0404;
    text-decoration: underline;
}

.container-box {
    max-width: 800px; 
    margin: 20px auto;  
    padding: 20px;  
    border: 1px solid #ccc;  
    border-radius: 8px;  
    background-color: #fff;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}
.photogallery li
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
/**/
/*Single Men product*/
ul li
{
    list-style-type: none;
}
#prodetails .single-pro-image
{
    width: 40%;
    margin-right: 50px ;
}
#prodetails
{
    display: flex;
    margin-top: 20px;
}
.small-img-group
{
    display: flex;
    justify-content: space-between;
}
.small-img-col
{
    flex-basis: 20%;
    cursor: pointer;
}
#prodetails .single-pro-details
{
    width: 50%;
    padding-top: 30px;
    margin-top: 10%;
}
h6{
    font-size: 0.9em;
}
#prodetails .single-pro-details h4
{
    font-family: 'Bebas';
    padding: 40px 0 20px 0;
    font-size: 2.5em;
    color: #610606;
}
#prodetails .single-pro-details h2
{
    font-size: 26px;
}
.money{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
    margin: 0.9em;
}
#prodetails .single-pro-details select
{
    display: block;
    padding: 2%;
    margin-bottom: 2%;
    background-color: rgb(248, 163, 183);
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    border: none;
    border-radius: 5%;
}
#prodetails .single-pro-details input
{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size:16px ;
    margin-right: 10px;
}
button.normal
{
    background: #fde5c2;
    color: black;
    border-radius: 5%;
    margin: 5px;
    padding: 10px;
    border: brown;
}
.huh{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
}
#prodetails .single-pro-details button
{
    background: white;
    color: brown;
}
#prodetails .single-pro-details input:focus
{
    outline: none;
}
#prodetails .single-pro-details p
{
    line-height: 25px;
}
